/** 
 * @name WinConsole
 * @version 0.1.0
 * @description This theme tries to simulate a Windows console.
 * @author Mops
 * @authorLink https://github.com/Mopsgamer/
 * @authorId 538010208023347200
*/

:root
{
    --font-size: 15px;
}

.theme-dark {
    --a-color: white;
    --b-color: black;
    --c-color: gray;
}

.theme-light {
    --b-color: white;
    --a-color: black;
    --c-color: gray;
}

* {
    transition: 0 !important;
    font-family: Lucida Console !important;
    font-weight: bold !important;
    font-size: var(--font-size) !important;
}

button {border-radius: 0 !important;}
button[class*=colorBrand][class*=lookFilled] {background-color: blue !important; border-radius: 0 !important;}
button[class*=colorGrey][class*=lookFilled] {background-color: grey !important; border-radius: 0 !important;}
button[class*=colorRed][class*=lookFilled] {background-color: red !important; border-radius: 0 !important;}
button[class*=colorRed][class*=lookOutlined] {border-color: red; color: red !important; border-radius: 0 !important;}
button[class*=colorGreen][class*=lookFilled] {background-color: green !important; border-radius: 0 !important;}

[class*=toolbar] [class*=searchBar],
[class*=peopleColumn] [class*=searchBar],
[class*=searchBarComponent],
[class*=bd-search-wrapper],
[class*=channelTextArea-],
[class*=multiInput-],
[class*=multiInput-]:hover,
*:not([class*=multiInput-]):not([class*=searchBox]) > * > [class*=inputDefault],
*:not([class*=multiInput-]):not([class*=searchBox]) > * > [class*=inputDefault]:hover
{
    border-radius: 0 !important;
    border: thin solid blue;
    background-color: var(--b-color) !important;
    box-shadow: none !important;
}

[class*=membershipDialogHouse]::after {background-image: none !important;}
[class*=membershipDialogHouse1] {background-color: blue !important; border-radius: 0 !important;}
[class*=membershipDialogHouse2] {background-color: red !important; border-radius: 0 !important;}
[class*=membershipDialogHouse3] {background-color: green !important; border-radius: 0 !important;}

[class*=colorLink]:hover > *
{
    background-image: linear-gradient(0deg, transparent,transparent 1px, blue 0, blue 2px,transparent 0) !important;
}

[class*=colorLink],
a[class*=anchorUnderlineOnHover]
{
    color: blue !important;
}

div[class*=cardPrimary]:not([class*=authedApp]),
[class*=bd-addon-card],
[class*=bd-addon-card] > *,
span[class*=spoiler],
[class*=accountList],
[class*=connectionList] [class*=connection],
[class*=videoWrapper],
[class*=closeButton],
[class*=itemCard],
[class*=peopleListItem],
[class*=guildList] [class*=card]
{
    border-radius: 0 !important;
    border: none;
    background-color: var(--c-color) !important;
    color: white !important;
}

[class*=peopleListItem]
{
    margin: 0 10px 0 20px;
    padding: 16px 10px;
}

[class*=typeWindows] {
    background-color: var(--a-color);
    margin-top: 0;
    border-top: 2px solid var(--a-color);
}

[class*=focusLock] form > :last-child,
[class*=fieldList],
:not([aria-controls=discord-nitro-tab]) > [class*=background-]:not([class*=title])
{
    border-radius: 0 !important;
    background-color: gray !important;
}

[class*=backdrop]
{
    opacity: 1 !important;
    background-color: var(--b-color) !important;
}

[role=list] > [class*=member-][class*=selected] [class*=layout],
[role=list] > [class*=member-]:hover [class*=layout],
[class*=messagesWrapper] + form::before,
[class*=title] [class*=children]::after,
[class*=children]::after
{
    background: transparent !important;
}

[class*=notice]
{
    border-radius: 0 !important;
}

#app-mount,
[class*=base]:not(h3):not([class*=Badge]),
[class*=quickswitcher],
[class*=quickswitcher] > [class*=scroller],
#popout_280 [class*=header],
#popout_280 [class*=recentMentionsPopout],
#popout_280 [role=list],
#popout_280 [role=list] [class*=container] > *,
[class*=focusLock] *:not([class*=popout]) [class*=footer],
[class*=app] + [class*=container],
[class*=base] > [class*=content] > [class*=sidebar] > [class*=container],
[class*=base] > [class*=content] > [class*=container] > *,
[class*=base] > [class*=content] > [class*=container] [class*=nowPlayingColumn] > *,
[class*=base] > [class*=content] > [class*=scroller],
[class*=homeWrapperNormal] > *,
[class*=channel-] > [class*=interactive]:hover,
[class*=iconVisibility]:not([class*=modeSelected]):hover > [class*=content],
[class*=iconVisibility]:not([class*=modeSelected]):hover > [class*=content] [class*=name],
[class*=messagesWrapper],
[class*=messagesWrapper] + form,
[class*=contentRegion],
section[class*=title],
[id*=popout][class*=layer] [class*=searchOption]:hover,
[class*=guilds] [class*=scroller],
[class*=sidebar],
[class*=privateChannels] > *,
[class*=membersWrap] > *,
[class*=chat] > [class*=content] > *,
[class*=membersWrap] > * > *,
[class*=membersWrap] > * > * > *,
[role=tablist] > *,
[class*=accountProfileCard],
[class*=focusLock] > *,
[class*=base] [class*=pageWrapper],
[class*=preview][class*=card],
[class*=categoryItem-]:hover > *
{
    border-radius: 0 !important;
    background-color: var(--b-color) !important;
    box-shadow: none !important;
}

[class*=quickswitcher] > input,
[class*=voiceUser][class*=selected] > [class*=content],
[class*=voiceUser][class*=selected] > [class*=content] [class*=name],
[class*=modeSelected] > [class*=content],
[class*=modeSelected] > [class*=content] [class*=name],
[class*=message] > [class*=buttonContainer] [class*=wrapper],
[role=tablist] > [class*=selected],
[class*=channel-] > [class*=interactive][class*=selected],
[role=list] > [class*=member-][class*=selected],
[data-list-item-id*=role],
[id*=popout][class*=layer] > [class*=container],
[id*=popout][class*=layer] [class*=searchOption]::after,
[role=menu],
[role=menu] [class*=item],
[class*=loadingPopout],
div[class*=reaction-],
div[class*=reaction-] [class*=reactionCount]
{
    border-radius: 0 !important;
    background-color: var(--a-color) !important;
    background-image: none !important;
    color: var(--b-color) !important;
    height: fit-content !important;
}

[class*=categoryItem-][class*=selected] > *,
[aria-controls=discord-nitro-tab] > [class*=background-][class*=selected],
span[class*=mention]
{
    border-radius: 0 !important;
    background-color: blue !important;
    color: white !important;
}

[class*=messagesWrapper] [class*=newMessagesBar]
{
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: blue !important;
    color: white !important;
}

section[class*=panels] > [class*=wrapper] > [class*=container],
section[class*=panels] > [class*=wrapper] > [class*=container] button:hover,
section[class*=panels] > [class*=container],
section[class*=panels] > [class*=container] button:hover
{
    margin: 0;
    background-color: var(--b-color) !important;
}

[role=tablist] > [class*=separator]:before
{
    display: block;
    content: '--------';
    color: var(--a-color);
    margin-top: -10px;
}

[class*=chat] > [class*=content]::before,
[class*=messages] [class*=divider][class*=isUnread] svg
{
    display: none;
}

div[class*=live],
[class*=messages] [class*=divider][class*=isUnread],
[class*=messages] [class*=divider][class*=isUnread] span
{
    border-top: none !important;
    background-color: red !important;
    color: white;
    border-radius: 0;
}

[class*=messages] [class*=divider]:not([class*=isUnread]),
[class*=messages] [class*=divider]:not([class*=isUnread]) span
{
    border-top: none !important;
    background-color: var(--a-color);
    border-radius: 0;
}

[class*=messages] [class*=divider][class*=isUnread]::before,
[class*=messages] [class*=divider][class*=isUnread]::after
{
    content: '';
    display: block;
    height: var(--font-size);
    width: 100%;
    border-bottom: thin solid red;
    color: var(--a-color);
    margin-top: -3px;
}

[class*=messages] [class*=divider]:not([class*=isUnread]):before,
[class*=messages] [class*=divider]:not([class*=isUnread])::after
{
    content: '';
    display: block;
    height: var(--font-size);
    width: 100%;
    border-bottom: thin solid var(--a-color);
    color: var(--a-color);
    margin-top: -3px;
}

[class*=chatContent] [class*=form] [class*=wrapper],
[class*=chatContent] [class*=form] [class*=wrapper] > div,
[class*=chatContent] [class*=form] [class*=wrapper]:hover > div,
form [class*=wrapper]:hover > [class*=content],
[class*=voiceUser]:hover > [class*=content],
[role=tablist] > :hover:not([class*=selected]),
[class*=channelTextArea] > div
{
    background-color: var(--b-color) !important;
}

[class*=message] > [class*=buttonContainer] [class*=wrapper] [class*=button] svg *
{
    fill: var(--b-color) !important;
}

[class*=channel] [class*=closeButton]
{
    background-color: transparent !important;
}

[class*=closeIcon] *,
[class*=channel] [class*=closeButton] svg *,
[class*=channelTextArea] svg *
{
    fill: var(--a-color) !important;
}

[class*=typeWindows] [class*=wordmark]
{
    padding-top: 1px !important;
}

[class*=typeWindows] svg *,
[class*=closeButton] svg *,
[class*=channel] [class*=selected] [class*=closeButton] svg *,
[class*=modeSelected] > [class*=content] svg *
{
    background-color: var(--b-color) !important;
    fill: var(--b-color) !important;
}

[class*=searchBarComponent],
[class*=focusLock] [class*=topSection], [class*=focusLock] [class*=body],
[class*=userPopout], [class*=userPopout] [class*=bodyInnerWrapper], [class*=userPopout] [class*=footer]
{
    background-color: var(--b-color);
}

[class*=accountProfileCard] [class*=avatar-],
[class*=userPopout] [class*=avatar-],
[class*=focusLock] [class*=avatar-]
{
    background-color: var(--b-color);
    border-color: var(--b-color);
}

[class*=tabBarItem], [class*=tabBarItem]:hover
{
    height: fit-content !important;
    border: none !important;
}

[class*=embedFull]
{
    border-left-width: var(--font-size) !important;
    border-radius: 0 !important;
    background-color: var(--c-color) !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
    background-color: var(--a-color) !important;
}
::-webkit-scrollbar-track {
    background-color: var(--b-color) !important;
}